
#details-rechts {
    display: none;
    margin-left: var(--Space-standard);
}

#details-unten {
    display: block;
    margin-left: var(--Space-standard);
}

.case {
    max-width: 75vw;
    }

.details {
    display: flex;
    align-items: flex-start;
}

.arrow_button {
    display: flex;
    align-items: flex-start;
    }

.arrow_button h3 {
    font-size: var(--Fontsize-small-1);
    }

.arrow_icon {
    font-size: var(--Fontsize-small-1);
    width: calc(var(--Fontsize-small-1)*0.75);
    opacity: 0.5;
    transform: rotate(0deg);
    margin-top: calc(var(--Fontsize-small-1)*0.133);
    
    transition: transform 0.3s, opacity 0.3s;
    }

.arrow_icon img {
    display: block;
    width: 100%;
    height: 100%;
    }

.arrow_icon.active {
    transform: rotate(90deg);
    }   

.details button:hover .arrow_icon,
.details button:hover h3 {
    opacity: 1;
    color: var(--M-color);
}

.details_hidden {
    margin-left: calc(var(--Fontsize-small-2)*1.1);
    display: grid;
    grid-template-rows: 0fr;
    opacity: 0;
    overflow: hidden;

    transition: 
        grid-template-rows 0.3s ease,
        opacity 0.3s ease,
        transform 0.3s ease;
}

.details_inner {
    overflow: hidden;
    min-height: 0;
}

.details_hidden.active {
    grid-template-rows: 1fr;
    opacity: 1;
}

.overview {
    display: none;
    font-size: var(--Fontsize-small-1);
}

.overview_m {
    display: block;
    font-size: var(--Fontsize-small-1);
}

.list {
    margin-bottom: var(--Space-standard);
}

.list p {
    margin-bottom: 0px;
}

.featured-details {
  margin-top: var(--Space-standard);
}

.featured-details .case {
  margin-top: 0;
}

@media (min-width: 768px) {

    .case {
        max-width: 384px;
    }

    #details-unten {
        margin-left: calc(var(--Fontsize-h1)*0.5);
}
}

@media (min-width: 1024px) {

    #details-rechts {
        display: block;
}

    #details-unten {
        display: none;
}

    .case {
        margin-top: 0;
        margin-left: var(--Space-standard);
        position: sticky;
        top: var(--Space-standard);
    }

    .details {
    margin-top: calc(var(--Space-standard)*1.5);
}

    .overview {
        display: block;
}

    .overview_m {
        display: none;
}

.featured-details {
  margin-top: 0;
}

}