@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/open-sans-v44-latin-300.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/open-sans-v44-latin-600.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

h1, h2, h3, h4, p, a, button {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-style: normal;
	color: var(--M-grey);
	text-transform: uppercase;	
	text-decoration: none;
    line-height: 1;
    margin: 0;

	transition: color 0.3s;
}

h1 {
	font-size: var(--Fontsize-h1);
    margin-bottom: calc(var(--Space-standard)/2);
	color: var(--M-color);
}

h2 {
	font-size: var(--Fontsize-h2);
}

h3 {
	font-size: var(--Fontsize-small-2);
    margin-bottom: var(--Space-standard);
}

h4 {
	font-size: var(--Fontsize-small-2);
    line-height: 1.2;
    opacity: 0.5;
}

p {
	font-size: var(--Fontsize-small-2);
    margin-bottom: var(--Space-standard);
    line-height: 1.2;
	text-transform: none;
}