
.navigation, .navigation-menu {
	position: fixed;
	width: 100%;
	height: 100%;
    top: 0;
	left: 0;
	overflow-y: auto;
	overflow-x: hidden;
}

.navigation {
	z-index: 300;
    overflow-y: hidden;
    pointer-events: none;
}

.navigation-menu {
	display: block;
    background-color: var(--M-color-dark);
    z-index: 200;
    opacity: 0;
    overflow-y: auto;
    transform: translateX(100%);

	transition: all 0.3s ease;
}

.navigation-menu.active {
	opacity: 1;
    transform: translateX(0);
}

.menu-scroll {
	position: relative;
	display: flex;
    flex-direction: column;
    align-items: center;
	height: 100%;
	min-height: 640px;
}

.nav-top {
    padding-top: calc(var(--Fontsize-h1)*1.5);
    text-align: center;
}

.nav-bottom {
    margin-top: auto; 
    padding-bottom: calc(var(--Fontsize-h1)*1.33);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: calc(var(--Space-standard) * 2);
}

.nav-top a {
    font-size: var(--Fontsize-h4);
    color: white;
    opacity: 0.5;

    transition: color 0.3s ease, opacity 0.3s ease;
}

.nav-bottom a {
    font-size: var(--Fontsize-h3);
    color: white;
    opacity: 0.25;

    transition: color 0.3s ease, opacity 0.3s ease;
}

.nav-filter {
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-filter h3, .nav-filter h4 {
    font-size: var(--Fontsize-h3);
    color: white;
    opacity: 0.25;
}

.nav-filter h4 {
    margin-bottom: calc(var(--Space-standard)*0.75);
}

.nav-filter ul, .nav-top ul, .nav-bottom > ul:not(.nav-icons) {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: calc(var(--Space-standard)*0.33);
}

.nav-top ul {
    gap: calc(var(--Space-standard)*0.33);
}

#nav-expertise {
    margin-top: calc(var(--Space-standard)*1);
}

#nav-expertise ul {
    gap: calc(var(--Space-standard)*0.33);
}

.nav-bottom ul {
    align-items: center;
}

.nav-filter button {
    font-weight: 600;
    font-size: var(--Fontsize-h2);
    color: white;
    opacity: 0.5;

    transition: color 0.3s ease, opacity 0.3s ease;
}

#nav-expertise button {
    font-size: var(--Fontsize-h2);
}

.nav-filter button.active {
    color: var(--M-color);
    opacity: 1;
}

.nav-filter button:hover, .nav-top a:hover, .nav-bottom a:hover {
    color: var(--M-color-bright);
    opacity: 1;
}

.nav-filter button.active:hover {
    color: var(--M-color);
    opacity: 1;
}

.nav-icons {
	display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: calc(var(--Space-standard)*0.5);
}

.nav-icons img {
    display: block;
    height: 24px;
    opacity: 0.25;

    transition: opacity 0.3s ease;
}

.nav-icons a:hover img {
    opacity: 0.5;
}

.menu-line {
    position: relative;
	width: 1px;
    flex: 1;
    min-height: 24px;
    margin: calc(var(--Space-standard) * 1) 0;
}

.line {
	display: block;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0.5;
}


/* Button */


.nav-button {
	position: absolute;
    top: calc(var(--Fontsize-h1)*1.33);
    right: calc(var(--Fontsize-h1)*1.33);

    width: calc(var(--Fontsize-h1)*1.5);
    height: calc(var(--Fontsize-h1)*1.5);
    padding: 0;
    display: block;

    background: none;
    border-color: var(--M-color);
    border-width: 1px;
    border-style: solid;
    pointer-events: auto;

    opacity: 0.75;
    cursor: pointer;
	
	transition: opacity 0.3s, border-color 0.3s;
}

.nav-button.active {
	border-color: white;
}

.line1, .line2, .line3 {
    position: absolute;
    left: 50%;
    width: 45%;
    height: 2px;
    background-color: white;
    opacity: 0.75;

    transform: translateX(-50%) rotate(0deg);
    transition: transform 0.3s, top 0.3s, opacity 0.3s;
}

.line1 {
	top: 38%;
}

.line2 {
	top: 50%;
}

.line3 {
	top: 62%;
}

.line1.active {
    top: 50%;
    opacity: 0;
    transform: translateX(-50%) rotate(135deg);
}

.line2.active {
    transform: translateX(-50%) rotate(225deg);
}

.line3.active {
    top: 50%;
    transform: translateX(-50%) rotate(-225deg);
}

.nav-button:hover {
	opacity: 1;
}

@media (min-width: 768px) {

.nav-button {
    right: 0;
    left: 0;
    margin: auto;
}

.navigation, .navigation-menu {
	width: 40%;
    left: 60%;
}

.nav-top {
    padding-top: calc(var(--Fontsize-h1) * 3.66);
}

}

.is-hidden {
  display: none;
}

@media (min-width: 1280px) {

.navigation, .navigation-menu {
    min-width: 320px;
	width: calc((100% - 640px - var(--Space-standard) * 2) / 2);
    left: calc((100% + 640px + var(--Space-standard) * 2) / 2);
}
}
