:root {

/* Colors */
    --Background: #141b1e;
    --M-color: #1584D4;
    --M-color-bright: #4AABFF;
    --M-color-dark: #1B57B5;
    --M-grey: #808080;

/* Spacing */
    --Space-standard: 8px;

/* Fontsizes */
    --Fontsize-h1: 32px;
    --Fontsize-h2: 18px;
    --Fontsize-h4: 16px;

    --Fontsize-small-1: 14px;
    --Fontsize-small-2: 14px;
}

@media (min-width: 768px) {

    :root {

    /* Spacing */
        --Space-standard: 10px;

    /* Fontsizes */
        --Fontsize-h1: 40px;
        --Fontsize-h2: 21px;
        --Fontsize-h4: 18px;
    }
}

@media (min-width: 1024px) {

    :root {

    /* Spacing */
        --Space-standard: 12px;

    /* Fontsizes */
        --Fontsize-h1: 48px;
        --Fontsize-h2: 24px;
        --Fontsize-h4: 20px;

        --Fontsize-small-1: 14px;
        --Fontsize-small-2: 14px;
    }
}