---
import BaseLayout from '../layouts/base.astro';
import Main from '../components/main.astro';

import { getProjects } from '../utils/getProjects';

const { projects, featuredProjects, alwaysFeaturedProjects } = getProjects();

const currentIndex = 0;
const featuredProject = featuredProjects[0];
---

<BaseLayout title="Portfolio">

  <div class="page">

      {featuredProject && (
        <Main 
          projects={projects}
          featuredProjects={featuredProjects}
          alwaysFeaturedProjects={alwaysFeaturedProjects}
          currentIndex={currentIndex}
          />)}

  </div>

</BaseLayout>