---
import Vimeo from './vimeo.astro';
import type { Project } from '../utils/types';

interface Props {
  featuredProjects: Project[];
  currentIndex: number;
}

const { featuredProjects, currentIndex } = Astro.props as Props;
---

<div class="featured-vimeo">
  <button title="left" class="button-left js-index" data-step="-1">
    <img class="left" src="/icon/arrow_icon.svg" alt="left" />
  </button>

  <button title="right" class="button-right js-index" data-step="1">
    <img class="right" src="/icon/arrow_icon.svg" alt="right" />
  </button>

  {featuredProjects.map((item, index) => (
    <div
      class={`slide js-featured-project js-featured-media ${index === currentIndex ? 'is-active' : ''}`}
      data-featured-slug={item.slug}
    >
      <Vimeo project={item} />
    </div>
  ))}
</div>