---
interface Props {
  thumbs?: string[];
}

const { thumbs = [] } = Astro.props;
---

<div class="thumbs">

  {thumbs.map((image: string) => (
    <img class="project-item"
      src={image} 
      alt="" 
      loading="lazy" 
    />
  ))}
</div>


