---
import Navigation from '../components/navigation.astro';

const { title } = Astro.props;
---

<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{title}</title>

    <link rel="stylesheet" href="/styles/index.css">
    <link rel="icon" href="/icon/M-Icon.svg" type="image/svg+xml" />
  </head>

  <body>
    <header>

      <div class="logo_div">
     	  <a href="/" title="Michael Schillack">
        <img class="logo" src="/icon/M-Icon.svg"  alt="Michael Schillack"></a>
      </div>

      <Navigation/>

    </header>

    <main>
      <slot /> <!-- HIER kommt Seiteninhalt rein -->
    </main>

    <script is:inline src="/scripts/scrollY.js"></script>
    <script is:inline src="/scripts/toggleActive.js"></script>
    <script is:inline src="/scripts/videoLoad.js"></script>
    <script is:inline src="/scripts/filter.js"></script>

  </body>

  <footer></footer>

</html>
